# needed by the script
export CODE_GEN_MODEL=claude-sonnet-4-6
export REVIEWER_MODEL=claude-opus-4-6
export GIT_PROVIDER=github

# Vertex AI stuff
# export CLAUDE_CODE_USE_VERTEX=1
# export CLOUD_ML_REGION=us-east5
# export ANTHROPIC_VERTEX_PROJECT_ID=

# If using Github, assuming token isn't elsewhere in environment
# export GITHUB_TOKEN=

# Netskope thing
# export NODE_EXTRA_CA_CERTS="$HOME/.config/netskope/nscacert_combined.pem"

# z.ai settings
# export ANTHROPIC_AUTH_TOKEN=
# export ANTHROPIC_BASE_URL="https://api.z.ai/api/anthropic"
# export API_TIMEOUT_MS=3000000
# export ANTHROPIC_DEFAULT_HAIKU_MODEL="glm-4.5-air"
# export ANTHROPIC_DEFAULT_SONNET_MODEL="glm-5.1"
# export ANTHROPIC_DEFAULT_OPUS_MODEL="glm-5.1"
